/* visual */
#visual {}
.slider {
	position:relative;
	height:560px;
}
.img_wrap {
	width:100%;
	height:560px;
	background:url(../img/common/bg_main01.png) no-repeat center top;
	position:absolute;
	left:0; 
	top:0;
    display:none;
}
.img_wrap.v1 {
    display:block;
}
.img_wrap.v1 {background-image:url(../img/common/bg_main01.png);}
.img_wrap.v2 {background-image:url(../img/common/bg_main02.png);}
.img_wrap.v3 {background-image:url(../img/common/bg_main03.png);}
.txt_wrap {
	text-align:center;
	position:absolute;
	width:100%;
	left:0;
	top:165px;
}
.txt_wrap .tit {
	color:#fff;
	font-size:54px;
	line-height:80px;
	font-family:"hcT";
	font-weight:normal;
	margin-bottom:8px;
	animation:main_v 1s;
}
.txt_wrap .txt {
	color:#fff;
	font-size:16px;
	line-height:25px;
	animation:main_v 1.2s;
}
.txt_wrap .btn {
	color:#fff;
	font-size:16px;
	line-height:46px;
	padding:0 28px;
	border:1px solid rgba(255,255,255,0.5);
	border-radius:3px;
	display:inline-block;
	margin-top:35px;
	animation:main_v 1.4s;
}

@keyframes main_v {
	0% {
		transform:translateY(100px);
		opacity:0;
	}
	100% {
		transform:translateY(0);
		opacity:1;
	}
}

.indicator {
	position:absolute;
	z-index:5;
	left:0;
	bottom:39px;
	text-align:center;
	width:100%;
}
.indicator .btnAuto, 
.indicator .indi li {
	width:8px;
	height:8px;
	background:url(../img/common/sp_common.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
.indicator .btnAuto {
	display:inline-block;
	background-position:-10px -135px;
	border:none;
	vertical-align:middle;
}
.indicator .indi {
	display:inline-block;
	vertical-align:middle;
}
.indicator .indi li {
	float:left;
	background-position:-30px -135px;
	margin-left:18px;
}
.indicator .indi .on {
	background-position: -20px -135px;
}	

/* mainContents */
#mainContents {
	width:1000px;
	margin:0 auto;
	padding:120px 0;
}

.main-area {}
.main_hr {
	border-bottom:1px solid #e1e1e1;
	padding-bottom:40px;
	margin-bottom:40px;
}

.mbox {
	width:500px;
	float:left;
}
.mbox .mb_title {
	font-size:20px;
	font-family:"hcT";
	font-weight:normal;
	margin-bottom:20px;
}
.mbox .mb_con {
	position:relative;
}

.mbox .txt_t {
	font-size:18px;
	line-height:24px;
}
.mb_con .txt_sub {
	font-size:15px;
	color:#666;
	line-height:24px;
	margin-top:6px;
}
.mb_con .recruit {
	font-size:13px;
	color:#1e75d6;
	margin-top:35px;
	display:block;
}
.mb_con .recruit:after {
	content:"";
	background:url(../img/common/sp_common.png) no-repeat -120px -80px;
	display:inline-block;
	width:12px;
	height:12px;
	margin-left:7px;
	vertical-align:top;
}

.news_list {
    display:none;
}
.news_list.news1{
    display:block;
}
.news_list .news_img {
	float:left;
	width:175px;
	height:98px;
	margin-right:30px;   
    overflow:hidden;
}
.news_list .news_img img {
	width:100%;
}
.news_list .news_txt {
	float:left;
	width:250px;
}
.news_list .news_txt .date {
	font-size:13px;
	color:#888;
	margin-top:6px;
}

.news_btn {
	position:absolute;
	left:205px;
	bottom:0;
}
.news_btn button {
	float:left;
	width:21px;
	height:21px;
	background:url(../img/common/sp_common.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	border:none;
	cursor:pointer;
}
.news_btn .prev {
	background-position:-80px -155px;
}
.news_btn .next {
	background-position:-105px -155px;
}
.news_btn p {
	float:left;
	line-height:21px;
	color:#999;
	margin:0 10px;
}
.news_btn p span{
	color:#333;
}

.grade_left {
	float:left;
	text-align:center;
	border-right:1px solid #e1e1e1;
	padding-right:28px;
	margin-right:28px;
}
.grade_left strong {
	font-size:80px;
	display:block;
	margin-bottom:10px;
	margin-top:-10px;
}
.grade_left strong sup{
	font-size:55px;
	vertical-align:top;
}
.grade_left span {
	font-size:17px;
}

.grade_right {
	float:left;
}
.grade_right span{
	font-size:13px;
	color:#aaa;
}
.grade_right ul{
	position:absolute;
	bottom:0;
}
.grade_right ul li {
	font-size:12px;
	color:#666;
	float:left;
	margin-right:40px;
}
.grade_right ul li strong {
	font-size:18px;
	display:block;
	margin-top:10px;
}

